    <!-- dc-icons:start -->
    <link rel="icon" href="/img/duacrypto-mark.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/site.webmanifest">
    <!-- dc-icons:end -->
    <!-- dc-vendor:start -->
    <link rel="stylesheet" href="/css/site-fonts.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/all.min.css">
    <!-- dc-vendor:end -->
    <script src="/theme-init.js"></script>
    <link rel="stylesheet" href="/src/css/input.css">
    <script defer src="/js/gtag-deferred.js"></script>
    <link rel="stylesheet" href="/css/brand-logos.css">
